@media only screen and (min-width:768px) and (max-width:1366px) {
    body {
        font-family: 'Poppins', sans-serif;
    }

    section#hero {
        background-image: url('img/first_bg.png') !important;
        padding-top: 75px;
        padding-bottom: 280px;
    }

    .hero-content h2 {
        color: #fff !important;
    }
    .footer_img img {
        width: 80%;
    }

    .hero-content p {
        color: #fff !important;
        width: 60%;
    }

    section#about {
        background-image: url('img/Rectangle10.png') !important;
    }

    .about-top {
        margin-top: -174px;
        background: #fff;
        border-radius: 37px;
        padding: 70px;
    }

    section#covarage {
        background-image: url('img/cute-family-playing-summer-field.png') !important;
        height: 870px;
        background-position: right;
        padding-top: 20px;
    }

    .covarage-top {
        margin-top: -174px;
        border-radius: 37px;
        padding: 70px;
    }

    .content-area2 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .content-area3 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-area4 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 20px;
    }

    .content-area5 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .box-title h3 {
        padding: 20px 0px;
    }

    .box-des {
        padding-bottom: 20px;
    }

    .box-image img {
        width: 80px;
    }

    .box-des {
        text-align: center;
    }

    .mobileShow {
        display: none;
    }

    #submitBtn {
        position: absolute;
        top: 4px;
        right: -45px;
        border-radius: 20px;
    }

    #search {
        position: relative;
        border-radius: 20px;
        padding: 5px;
    }

    .search {
        position: relative;
        border-radius: 20px;
    }
/* About Page  */
div#about-us-page {
    background-image: url("img/about.png");
    padding:150px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}
div#description {
    background: #C0F4FE;
    padding: 100px 0px;
}
.our_vision_wrapper {
    color: #fff;
    padding: 20px 115px;
}


.our_mision_wrapper {
    background: #002658;
    color: #fff;
    padding:35px;
}
.Full_wrapper{
    background: #00AFD2;
}
.Full_wrapper2{
    background: #002658;
}
div#image_sction {
    background-image: url("img/family-standing-wooden-block-with-hand-pulling-block-which-print-screen-insurance-it-assurance-life-asset-concept.png");
    padding: 477px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#header a{
font-size:16px !important;
}
ul.navbar-nav .nav-item{
padding:0px 2px !important;
}

}

@media only screen and (min-width:1367px) {
    body {
        font-family: 'Poppins', sans-serif;
    }

    section#hero {
        background-image: url('img/first_bg.png') !important;
        padding-top: 75px;
        padding-bottom: 280px;
    }
    .footer_img img {
        width: 80%;
    }
    .hero-content h2 {
        color: #fff !important;
    }

    .hero-content p {
        color: #fff !important;
        width: 60%;
    }

    section#about {
        background-image: url('img/Rectangle10.png') !important;
    }

    .about-top {
        margin-top: -174px;
        background: #fff;
        border-radius: 37px;
        padding: 70px;
    }

    section#covarage {
        background-image: url('img/cute-family-playing-summer-field.png') !important;
        height: 870px;
        background-position: right;
        padding-top: 20px;
    }

    .covarage-top {
        margin-top: -174px;
        border-radius: 37px;
        padding: 70px;
    }

    .content-area2 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
    }

    .content-area3 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        margin-top: -70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-area4 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-right: 20px;
    }

    .content-area5 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .box-title h3 {
        padding: 20px 0px;
    }

    .box-des {
        padding-bottom: 20px;
    }

    .box-image img {
        width: 80px;
    }

    .box-des {
        text-align: center;
    }

    .mobileShow {
        display: none;
    }

    #submitBtn {
        position: absolute;
        top: 4px;
        right: -15px;
        border-radius: 20px;
    }

    #search {
        position: relative;
        border-radius: 20px;
        padding: 5px;
    }

    .search {
        position: relative;
        border-radius: 20px;
    }
/* About Page  */
    div#about-us-page {
        background-image: url("img/about.png");
        padding:150px 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color:#fff;
    }
    div#description {
        background: #C0F4FE;
        padding: 100px 0px;
    }
    .our_vision_wrapper {
        color: #fff;
        padding: 20px 115px;
    }
    
    
    .our_mision_wrapper {
        background: #002658;
        color: #fff;
        padding:35px;
    }
    .Full_wrapper{
        background: #00AFD2;
    }
    .Full_wrapper2{
        background: #002658;
    }
    div#image_sction {
        background-image: url("img/family-standing-wooden-block-with-hand-pulling-block-which-print-screen-insurance-it-assurance-life-asset-concept.png");
        padding: 477px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    

}

@media only screen and (max-width:767px) {
    body {
        font-family: 'Poppins', sans-serif;
    }

    section#hero {
        background-image: url('img/first_bg.png') !important;
        padding-top: 75px;
        padding-bottom: 280px;
    }

    .hero-content h2 {
        color: #fff !important;
        font-size: 28px !important;
    }

    .hero-content p {
        color: #fff !important;
        width: 80%;
    }

    section#about {
        background-image: url('img/Rectangle10.png') !important;
    }

    .about-top {
        margin-top: -174px;
        background: #fff;
        border-radius: 37px;
        padding: 30px;
    }

    section#covarage {
        background-image: url('img/cute-family-playing-summer-field.png') !important;
        height: 870px;
        background-position: right;
        padding-top: 20px;
    }

    .covarage-top {
        margin-top: -174px;
        border-radius: 37px;
        padding: 0px;
    }

    .content-area2 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        margin-top: -70px;
    }

    .content-area3 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        margin-top: 20px;
    }

    .content-area4 {
        background: #fff;
        padding: 75px;
        border-radius: 35px;
        margin-top: 20px;
    }

    .content-area5 {
        background: #fff;
        border-radius: 35px;
        padding: 75px;
        margin-top: 20px;
    }

    .box-image img {
        width: 80px;
    }

    a.navbar-brand {
        width: 60%;
    }

    .hero-content {
        padding: 0px 30px;
    }

    .rating-title h2 {
        font-size: 28px !important;
    }

    .rating-box {
        margin-bottom: 20px !important;
    }

    #footer ul li a {
        color: #000;
        text-decoration: none;
        padding: 0px 8px;
        font-size: 10px !important;
        text-align: center;
    }

    .footer_img img {
        width: 80%;
    }

    .footer_right_cols {
        padding: 20px;
    }

    .footer_img {
        padding: 20px;
    }

    .box-title h3 {
        padding: 20px 0px;
    }

    .box-des {
        padding-bottom: 20px;
    }
/* About Page  */
div#about-us-page {
    background-image: url("img/about.png");
    padding:150px 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
}
div#description {
    background: #C0F4FE;
    padding: 100px 0px;
}
.our_vision_wrapper {
    color: #fff;
    padding: 20px 35px;
}
.main-title h2 {
    font-size: 28px !important;
    text-align: left !important;
}

.our_mision_wrapper {
    background: #002658;
    color: #fff;
    padding:35px;
}
.Full_wrapper{
    background: #00AFD2;
}
.Full_wrapper2{
    background: #002658;
}
div#image_sction {
    background-image: url("img/family-standing-wooden-block-with-hand-pulling-block-which-print-screen-insurance-it-assurance-life-asset-concept.png");
    padding:150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

}
@media only screen and (min-width:992px) and (max-width:1199px){
    input#search {
    width: 100% !important;
}

button#submitBtn {
    right: 6px !important;
}

a.navbar-brand {
    width: 17% !important;
}
}

@media(max-width:991px) {
    .top_header {
        display: none;
    }
}

